{% extends "AppGestion/index.html" %}
{% block contenue %}
    {% if event_list %}
        <ul>
            {% for event, image in event_image.items %}
            <br>
            <div class="media">
                <div class="container">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-5 element-event">
                            <a href="{% url 'AppGestion:detailEvent' event.id %}">
                                <br>
                                <div class="row justify-content-end">
                                    <div class="col-3  imgthumbnail">
                                        <img class=" img-thumbnail pull-right img-responsive" src="../../static/{{image}}" alt="Image de l'évenement"  alt="...">
                                    </div>
                                    <div class="col-9">
                                        <div class="">
                                            <h5 class="">{{ event.nom }}</h5>
                                            <p class="text_event">{{ event.info }}</p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </a>
                        </div>
                        <div class="col-6"></div>
                    </div>
                </div>
                <a class="info_concert" href="{% url 'AppGestion:detailEvent' event.id %}">
                </a>
            </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>Pas d'event disponible</p>
    {% endif %}
{% endblock %}
