h1{
    text-shadow: 5px -10px 5px purple;
    margin-left: 20px;
}

#paragraphe_1{
    box-shadow: 0px 0px 15px red;
    margin-left: 20px;
    width: 70%;
    height: 100px;
    
}

p + p{
    box-shadow: -10px 10px 5px lightgreen;
    margin-left: 40px;
    width: 70%;
    height: 50px;
    margin-top: 50px;
    
}

#paragraphe_3{
    box-shadow: 0px 0px 15px blue inset;
    margin-left: 20px;
    width: 70%;
    height: 100px;
    
}

/* 1 - Le décalage horizontal de l'ombre.

2 - Le décalage vertical de l'ombre.

3 - L'adoucissement du dégradé.

4 - La couleur de l'ombre. */