h1{
    color: red;
    text-align: center;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

audio{
    border: solid 10px red;
    margin: 10px;
    background:gray;
}

video{
    width: 40%;
    height: 500px;
    border: solid 10px red;
    margin: 10px;
    
}

iframe{
    width: 40%;
    border: solid 10px red;
    border-radius: 50px;
    margin: 10px;
}