body{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
}

h1{
    grid-column: 1 /span 2;
    justify-self: center;
}

/*SECTION 1*/

#section_1{
    border: solid blue 2px;
    border-radius: 10px;
}

/*SECTION 2*/
#section_2{
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-rows: 1fr 2fr;
    border: solid blue 2px;
    border-radius: 10px;
    font-weight: 800;
}

#liste_utilisateur{
    padding-left: 10px;
    padding-right: 10px;
}

ul{
    grid-column: 1;
    align-items: start;
    list-style:none;
    padding-left: 10px;
    padding-right: 10px;
}

/*FOOTER*/

footer{
    grid-column: 1;
    padding-top: 10px;
}

input, label{
    padding: 10px;
}

#pseudo{
    width: 990px;
    border-radius: 10px;
}

/* SECTION 1*/

#section1{
    display: flex;
    flex-direction: column;
}

p{
    width: 50%;
    align-self: flex-end;
}