body{
    display: grid;
    grid-template-columns:repeat(5, 15%);
    background-color: lightblue;
    font-size: 10px !important;
}

div{

}

h1, h2{
    font-size: 18px;
    background-color: red;
    border: blue 2px;
}


