body{
    background-color: purple;
    margin: 0px;
}
/* HEADER */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgreen;
    color: purple;
    margin-bottom: 20px;
    font-size:x-large;
}

#image_header{
    width: 700px;
    height: 200px;
}


/*CONTENU ENSEMBLE*/

#div_contenu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/* MENU */

nav{
    background-color: lightgreen;
    align-items: center;
    border-radius: 8px;
    height: min-content;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 180px;
    padding: 10px;
}

li{
    padding: 8px;
    background-color: purple;
    color: white;
}

/* ARTICLE*/

#article_1, #article_2, #article_3{
    background-color: lightgreen;
    margin-bottom: 20px;
    width: 75vw;
    border-radius: 8px;
}

.article_imagetext{
    display: flex;
    flex-direction: row;
}

.img_article{
    width: 20vw;
    height: 15vw;
    padding: 5px;
}

p{
    padding: 5px;
 }

/* GALERIE */

aside{
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    height: min-content;

}

#image_galerie{
    display: flex;
    flex-direction: column;
}

.img_galerie{
    width: 140px;
    height: 140px;
    margin: 10px;
}

/* H2 ARTICLE ET GALERIE */

h2{
    margin: 0px;
    padding: 25px 0px 25px 10px;
    font-size:xx-large;
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: lightgreen;
}

input{
    background-color: #8c86aa;
    padding: 10px;
    color: white;
    margin: 20px;
}

/* BOUTON HOVER */

li:hover{
    background-color: #8c86aa;
}

input:hover{
    background-color: purple;
}

@media(max-width: 1000px){

    /* ARTICLE EN FLEXBOX COLUMN */
    #article_1, #article_2, #article_3{
        background-color: lightgreen;
        margin-bottom: 20px;
        width: 60vw;
        border-radius: 8px;
    }
    
    .article_imagetext{
        display: flex;
        flex-direction: column;
    }
    
    .img_article{
        width: 58vw;
        height: 35vw;
        padding: 10px;
    }
    

    #article_1, #article_2, #article_3{
        background-color: lightgreen;
        margin-bottom: 20px;
        width: 60vw;
        border-radius: 8px;
    }
}


@media(max-width: 650px){

    /* contenu ensemble */
    #div_contenu{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
        /* MENU */

        nav{
            align-self: center;
            align-items: center;
            height: min-content;
            width: 480px;
            margin-bottom: 20px;
        }

        ul{
            flex-direction: row;
            justify-content: space-evenly;
            height: min-content;

        }
        /* ARTICLE */

        #div_article{
            display: flex;
            flex-direction: column;
        }

        #article_1, #article_2, #article_3{
            margin-bottom: 20px;
            width: 94vw;
            align-self: center;
        }

        /* GALERIE */

        aside{
            margin-bottom: 20px;
            width: 94vw;
            align-self: center;

            display: flex;
            flex-direction: column;
            height: min-content;
        }

        #image_galerie{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;

        }

}
/*aside{
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    height: min-content;

}

#image_galerie{
    display: flex;
    flex-direction: column;
}

.img_galerie{
    width: 140px;
    height: 140px;
    margin: 10px;
}*/