<form id="login" method="post" action="{% url 'sondage:welcome' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <label for="username">Login</label>
                <input id="username" name="username">
            </td>
            <td>
                <label for="password">Mot de passe</label>
                <input id="password" name="password">
            </td>
        </tr>
        <tr>

            <td>
                <input type="submit" value="Connexion">
                <input type="hidden" name="next" value="{{ next }}">
            </td>
        </tr>
    </table>
</form>
